body {
	margin: 0px;
	padding: 0;
	color: black;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

ul {
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#logo {
    text-align: left;
}

/* Menu */
#menu {
    position: absolute;
    top:25px;
    right:15px;
	padding: 0;
	height: 59px;
    overflow: hidden;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

#globalthemeswitcher {
    position:absolute;
    top:5px;
    right:50px;
}

/* Page */
#page {
	padding: 10px 0px;
	background: #FFFFFF;
}

/* Content */
#content {
	width: 70%;
    float:left;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

#sidebar {
	float: left;
	width: 25%;
	padding: 0 10px;
	margin-left: -1px;
    overflow: hidden;
}

#sidebar a.ui-state-hover, 
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
    font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

#footer a {
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width:200px;
	float:left;
	margin-right:10px
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-chkbox .ui-chkbox-box {
	width : 12px !important;
	height: 12px !important;
}

.ui-chkbox .ui-chkbox-box > .ui-icon-check {
background-position: -66px -147px !important;
}

.center-text {
	text-align: center;
}
.center-block, .login-panel table {
	margin : auto;
}

.unbodered-panel {
	border : none !important;
}

.fix-breadcrumb {
	margin-top : -3px;
}

.fix-parent-panel {
	margin-top : 2px;
}


/* login form */
.login-panel {
	width : 50%;
	margin-top : 200px !important;
	margin : auto;
	text-align : center;
}

.login-panel table td {
	font-size : 14px;
}

.login-panel table td input {
	width : 220px;
	height : 18px;
	margin-top : 4px;
	margin-bottom : 4px;
}

.nowrap {
	white-space: nowrap !important;
}

.small-spiner .ui-spinner-input {
	width : 40px !important;
}

.small-spiner .ui-spinner-up,.small-spiner .ui-spinner-down {
	right: -25px !important;
}



#transcriptDialog .ui-dialog-titlebar{
	background : none !important;
}

#transcriptDialog .ui-dialog-content {
	height: 500px !important;
}

#transcriptDialog *{
	font-family: Arial,sans-serif !important;
	font-size: 12px;
	color : black;
}

.studentInfo {
 	width: 75%;
}
	
.align-top {
	vertical-align: top;
}
	
.schoolInfo {
	vertical-align: top;
	width: 25%;
}
    	
.warning-transcript {
	background: black;
	
	font-weight: bold;
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
}

.warning-transcript p{
	color: white !important;	
}

.bold {
	font-weight: bold !important;
}

.transcipt-table table {
	width: 100%;
	border-collapse: collapse;
}
.transcipt-table table th {
	border-bottom: 2px solid black;
}

.transcipt-table table tr:last-child {
	border-top: 1px double black;
}

.transcipt-table table td {
	text-align: center;
	padding: 10px 0 0 0;
}

.courseName {
	text-align: left !important;
	padding-left : 20px !important;
}


}